body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.calculator {
  background-color: #d2d5d8;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
}

.screen {
  background-color: black;
  color: white;
  font-size: 28px;
  padding: 5px;
  text-align: right;
}

.screen input[type="text"] {
  width: 100%;
  height: 100%;
  font-size: 24px;
  text-align: right;
  border: none;
  background-color: transparent;
  font-family: "Helvetica Neue", sans-serif;
  color: #000;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.row1 .btn {
  background-color: #faf21f;
  color: #1a1a1a;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn {
  background-color: #e0e0e0;
  border: none;
  color: #1a1a1a;
  font-size: 24px;
  flex: 1;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: #d1d1d1;
}

.btn.operator {
  background-color: #f5923e;
  color: white;
}

.btn.operator:hover {
  background-color: #e88430;
}

.btn.special {
  background-color: #5e5e5e;
  color: white;
}

.btn.special:hover {
  background-color: #4e4e4e;
}
