.calculator {
  width: 300px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.screen {
  width: 280px;
  height: 80px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

#result {
  width: 260px;
  height: 60px;
  margin: 10px;
  font-size: 30px;
  text-align: right;
}

.btn {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: none;
  border-radius: 50%;
}

.row {
  display: flex;
}

.row1 {
  display: flex;
}

.btn:last-child {
    width:280px
}

.btn:nth-child(4n+4) {
    background-color:#ff9500
}
.btn:nth-child(4n+3) {
    background-color:#d6d6d6
}
.btn:nth-child(4n+2) {
    background-color:#d6d6d6
}
.btn:nth-child(4n+1) {
    background-color:#d6d6d6
}
.btn:nth-child(4n) {
    background-color:#ff9500
}
.btn:nth-child(1) {
    background-color:#d6d6d6
}
.btn:nth-child(2) {
    background-color:#d6d6d6
}
.btn:nth-child(3) {
    background-color:#ff9500
}
.btn:nth-child(32) {
    background-color:#ff3b30
}

.btn {
    font-size:25px
}
